name: Validate and upload
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master

jobs:
  validate-servers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        name: Checkout from GitHub

      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: servers.schema.json
          INPUT_JSONS: servers.json

  upload-servers:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    needs: validate-servers
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - name: Checkout from GitHub
        uses: actions/checkout@master
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.ARTIFACTS_ROLE_ARN }}
          aws-region: us-east-2

      - name: Setup Python 3.x
        uses: actions/setup-python@v1
        with:
          python-version: '3.x'
      
      - name: Install Python dependencies
        run: pip install webptools Pillow

      - name: Prepare Server Logos
        run: python prepare_logos.py --input servers.json --source logos --destination _out/logos

      - name: Move servers.json to upload directory
        run: |
          cp servers.json _out/
          
      - name: Upload to S3
        run: aws s3 sync _out s3://lunarclient-cdn-servermappings --delete --cache-control "public, max-age=604800, immutable"

      - name: Purge cache
        run: aws cloudfront create-invalidation --distribution-id E45B8N9YLM3QG --paths "/*"
